<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Website Icon" type="png" href="../static/icons8-medical-50.png">
    <title>HOME | Vedassist</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <main class="main">
       <section class="home_section" id="home">
        <div class="bg1"><img src="../static/image-removebg-preview.png" alt="" id="bgimg1"></div>
        <div class="bg2"><img src="../static/image-removebg-preview (1).png" alt="" id="bgimg2"></div>
            <div class="home__container container grid">
                <div class="home__content">
                    <div class="home__data">
                        <h1 class="home__education">
                            Vedassist <img src="../static/icons8-medical-50.png" alt="medi" class="logoimg">
                            <p class="home__description">
                                Unlock the power of Ayurveda:<br>
                                Predict your prefect remedy, revolutionize your well-being. 
                            </p>
                        </h1>
                        <a href="{% url 'login_page' %}">
                            <button class="btn">Get Started →</button>
                        </a>
                    </div>
                </div>
                <div class="home__image">
                    <center>
                        <div class="gallery">
                            <div class="card">
                                <p>Giloy: <br>
                                    In Ayurveda, Giloy is considered one of the best medicine to treat various fevers and other conditions. <br> Giloy is one of the three Amrit plants. Amrit means the ‘root of immortality. <br> Hence, it is also called Amritavalli or Amrita in Sanskrit.
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Neem: <br>
                                    In the Ayurveda world, neem is a well-known herb that is the key player in different traditional remedies (dated back around 5000 years). <br> Known as ‘Neemba’ in Sanskrit and Neem in English, this tree is a cure for different problems. <br> Having more than 130 varied biologically active compounds, this herb is anti-bacterial, anti-viral, and immuno-stimulant. 
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Aloevera: <br>
                                    According to the ancient hollistic medicine, Aloe Vera has 4 of the six Ayurvedic tastes: bitter, stiff, spicy and sweet. The taste after digestion (vipaka) is sweet, and the effect – cooling.Aloe is one of the few plants that have a pure bitter taste. Although, as it was already described, it contains other flavors, in terms of the healing properties, the bitter taste (together with the stiff taste) is the most valuable, and in aloe this taste is stronger than the other ones.
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Turmeric: <br>
                                    In Ayurvedic medicine, turmeric is a well-documented treatment for various respiratory conditions (e.g., asthma, bronchial hyperactivity, and allergy), as well as for liver disorders, anorexia, rheumatism, diabetic wounds, runny nose, cough, and sinusitis (Araujo and Leon 2001). In traditional Chinese medicine, it is used to treat diseases associated with abdominal pain (Aggarwal, Ichikawa, and Garodia 2004). From ancient times, as prescribed by Ayurveda, turmeric has been used to treat sprains and swelling (Araujo and Leon 2001).
                                </p>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
       </section> 
    </main>
</body>
</html>