<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Website Icon" type="png" href="../static/icons8-medical-50.png">
    <title>HOME | Vedassist</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <main class="main">
       <section class="home_section" id="home">
        <div class="bg1"><img src="../static/image-removebg-preview.png" alt="" id="bgimg1"></div>
        <div class="bg2"><img src="../static/image-removebg-preview (1).png" alt="" id="bgimg2"></div>
            <div class="home__container container grid">
                <div class="home__content">
                    <div class="home__data">
                        <h1 class="home__education">
                            Vedassist <img src="../static/icons8-medical-50.png" alt="medi" class="logoimg">
                            <p class="home__description">
                                Unlock the power of Ayurveda:<br>
                                Predict your prefect remedy, revolutionize your well-being. 
                            </p>
                        </h1>
                        <a href="{% url 'login_page' %}">
                            <button class="btn">Get Started →</button>
                        </a>
                    </div>
                </div>
                <div class="home__image">
                    <center>
                        <div class="gallery">
                            <div class="card">
                                <p>Giloy <br>
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Neem <br>
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Aloevera <br>
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Turmeric <br>
                                </p>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
       </section> 
    </main>
</body>
</html>