<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Website Icon" type="png" href="../static/icons8-medical-50.png">
    <title>Welcome | Vedassist</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <main class="main">
       <section class="home_section" id="home">
        <div class="bg1"><img src="../static/image-removebg-preview.png" alt="" id="bgimg1"></div>
        <div class="bg2"><img src="../static/image-removebg-preview (1).png" alt="" id="bgimg2"></div>
            <div class="home__container container grid">
                <div class="home__content">
                    <div class="home__data">
                        <h1 class="home__education">
                            Vedassist <img src="../static/icons8-medical-50.png" alt="medi" class="logoimg">
                            <p class="home__description">
                                Unlock the power of Ayurveda:<br>
                                Predict your prefect remedy, revolutionize your well-being. 
                            </p>
                        </h1>
                        <a href="{% url 'login_page' %}">
                            <button class="btn">Get Started →</button>
                        </a>
                    </div>
                </div>
                <div class="home__image">
                    <center>
                        <div class="gallery">
                            <div class="card">
                                <p>Giloy <br>
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Neem <br>
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Aloevera <br>
                                </p>
                            </div>
                            <div class="card">
                                <p>
                                    Turmeric <br>
                                </p>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
       </section> 
    </main>
    <hr style="margin-right: 7%; margin-left: 7%;">
    <div class="grid-cont">
    <div class="con1 des_page">
        <h1 class="des_headings">What is VedAssist??</h1>
        <p class="para_left">"Discover the transformative power of Ayurvedic medicine and holistic healing at VedAssist. Explore our extensive collection of authentic remedies, personalized recommendations, and innovative ML predictions. Revolutionize your health and well-being today."</p>
    </div>
        
    
        
    <div class="con2 des_page">
        <h1 class="des_headings_right">Features</h1>
        <p class="para_right">
            At VedAssist, we offer a comprehensive range of #AyurvedicRemedies and personalized #WellnessPrograms designed to address various health concerns. Our team of experienced practitioners, state-of-the-art Machine Learning algorithms, provides accurate #predictions and recommendations based on user symptoms and preferences.
        </p>
        <p class="para_right">
            With our user-friendly interface and extensive collection of authentic #AyurvedicMedicines, you can explore the benefits and applications of each product. 
            Our platform combines the wisdom of centuries-old herbal formulas, rare and effective treatments, and the convenience of modern e-commerce. Unlock your body's natural ability to heal and thrive with #VedAssist.
        </p>
    </div>
        
    
    <div class="con3 des_page">
        <h1 class="des_headings">Our Community</h1><p class="para_right">Join our community of health enthusiasts and gain access to cutting-edge Ayurvedic insights, holistic wellness practices, and trusted guidance. Whether you seek relief from common conditions or aspire to achieve optimal vitality, #VedAssist is your trusted partner on the path to holistic well-being.
        Empower yourself with the knowledge and remedies that have been passed down through generations. Discover the transformative power of Ayurveda with #VedAssist and elevate your health and wellness to new heights."
        In this example, I've incorporated hashtags such as #AyurvedicMedicine, #HolisticHealing, #TransformativeWellness, #Ayurveda, #AyurvedicRemedies, #WellnessPrograms, #HealingJourney, and #VedAssist.
        </p>
    </div>
    <div class="sec-right"></div>
</body>
</html>