@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Foldit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    cursor: url('../static/cursor.png'),auto;
}
section{
    margin: 0;
    padding: 0;
    background-image: url('../static/Backdrop1.jpg');
    background-size: 1550px;
    background-repeat: no-repeat;
}
.home_content{
    position: relative;
    display: flex;
    justify-content: initial;
    flex-flow: row wrap;
    gap: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.home_content{
    position: relative;
    row-gap: 2rem;
    margin-left: 100px;
}

.head_cont{
    font-size: 100px;
    border-radius: 10px;
    font-family: 'Dancing script' , cursive;
    background: -webkit-linear-gradient(rgb(55, 200, 18), rgb(6, 135, 6), rgb(2, 72, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 150px;
    margin-bottom: 20px;
}

.home_description{
    margin-block: 1rem 0rem;
    font-size: 25px;
    color: rgb(4, 83, 4);
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    top: 0;
    margin-bottom: 20px;
    border-radius: 0;
}
.btn{
    padding: 1.1rem 2rem;
    background: none;
    border: 2px solid green;
    font-size: 15px;
    color: #d7f194;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 4px;
    background-color: rgb(37, 138, 37);
    font-weight: bolder;
    box-shadow: 1px 1px 6px #013405;
    margin-top: 0;
    margin-bottom: 90px;
}
.btn:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #b3f50e;
    top: 50%;
    transform: skewX(30deg) translate(-150%,-50%);
    transition: all 0.5s;
}
.btn:hover{
    background-color: #67f706;
    color: #3b750c;
    box-shadow: 0 2px 0 2px rgb(125, 247, 125);
    border-color: #67f706;
    letter-spacing: 0.25em;
    box-shadow: 10px 10px 60px rgb(41, 249, 9);
}
.btn:hover::before{
    transform: skewX(30deg) translate(150%,-50%);
    transition-delay: 0.1s;
}
.btn:active{
    transform: scale(0.9);
}

@media (max-width: 1200px){
    .bgg{
        position: relative;
    }
}
.footer-1{
    position: relative;
}
footer .main-footer{	padding: 20px 0;	background: #fff;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #fff;	padding: 0 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 2px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin-top: -50px; margin-bottom: 20px;}

/* Footer Top */
.footer-top{	background: #949494e5;	padding-bottom: 10px;	margin-bottom: 10px;	border-bottom: 0px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(207, 207, 207, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 10px;	margin-bottom: 20px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 50px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: rgb(118, 180, 231); text-decoration: none;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #050000;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footcd vlxer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:10px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;
}
.btn6{
    background: none;
    border: 2px solid green;
    font-size: 10px;
    color: #d7f194;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 4px;
    background-color: rgb(37, 138, 37);
    font-weight: bolder;
    box-shadow: 1px 1px 6px #013405;
    width: 100px;
    height: 40px;
    margin-top: 0;
    right: 0;
}
.btn6:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #b3f50e;
    top: 50%;
    transform: skewX(30deg) translate(-150%,-50%);
    transition: all 0.5s;
    overflow: hidden;
}
.btn6:hover{
    background-color: #67f706;
    color: #3b750c;
    font-weight: 700;
    border-color: #67f706;
    letter-spacing: 0.25em;
    box-shadow: 5px 5px 10px rgb(41, 249, 9);
}
.btn6:hover::before{
    transform: skewX(30deg) translate(150%,-50%);
    transition-delay: 0.1s;
}
.btn6:active{
    transform: scale(0.9);
}
.btn3{
    padding: 1.1rem 2rem;
    background: none;
    border: 2px solid green;
    font-size: 15px;
    color: #d7f194;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 4px;
    background-color: rgb(37, 138, 37);
    font-weight: bolder;
    box-shadow: 1px 1px 6px #013405;
    width: 160px;
    height: 59px;
    margin-top: 0;
    margin-bottom: 90px;
}
.btn3:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #b3f50e;
    top: 50%;
    transform: skewX(30deg) translate(-150%,-50%);
    transition: all 0.5s;
    overflow: hidden;
}
.btn3:hover{
    background-color: #67f706;
    color: #3b750c;
    font-weight: 700;
    border-color: #67f706;
    letter-spacing: 0.25em;
    box-shadow: 5px 5px 10px rgb(41, 249, 9);
}
.btn3:hover::before{
    transform: skewX(30deg) translate(150%,-50%);
    transition-delay: 0.1s;
}
.btn3:active{
    transform: scale(0.9);
}
@media screen and (max-width:600px){
    .btn3{
        padding: 0.4rem 1rem;
        width: 70px;
        height: 30px;
        font-size: 7px;
    }
    .head_cont{
        font-size: 50px;
    }
    section{
        background-size: 3500px;
    }
    .home_content{
        margin-left: 0;
    }
}