@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@200;300;400;500;600;700;800;900%display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    cursor: url(../static/images/cursor.png),auto;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
section .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section .doctor{
    position: absolute;
    scale: 0.65;
    bottom: 25px;
    pointer-events: none;
    animation: animedoc 15s linear infinite;
}
section .tree{
    position: absolute;
    scale: 1.25;
    bottom: 50px;
    pointer-events: none;
    left: 0;
    
}
@keyframes animedoc {
    0% {
        transform: translateX(calc(100% + 100vw)) rotateY(180deg);
    }
    50% {
        transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
    }
    50.01% {
        transform: translateX(calc(-100% - 100vw));
    }
    100% {
        transform: translateX(calc(100% + 100vw));
    }
}
.login{
    position: relative;
    padding: 30px;
    padding-top: 30px;
    height: fit-content;
    border-radius: 10px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
    margin: 10px;
}
.login h2{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: rgba(36, 77, 1, 0.8);
    margin-bottom: 10px;
}
.login .inputbox{
    position: relative;
    padding: 10px;
}
.login .inputbox input{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: rgba(49, 102, 2, 0.8);
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}
.login .inputbox input ::placeholder{
    color: rgba(68, 140, 4, 0.8);
}
.login .inputbox #btn{
    position: relative;
    border: none;
    outline: none;
    background: rgba(57, 116, 6, 0.8);
    color: #f6fdde;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
}
.login .inputbox #btn:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #b3f50e;
    top: 50%;
    transform: skewX(30deg) translate(-150%,-50%);
    transition: all 0.5s;
}
.login .inputbox #btn:hover{
    background-color: #67f706;
    color: #3b750c;
    font-weight: 700;
    border-color: #67f706;
    letter-spacing: 0.25em;
    box-shadow: 5px 5px 10px rgb(41, 249, 9);
}
.login .inputbox #btn:hover::before{
    transform: skewX(30deg) translate(150%,-50%);
    transition-delay: 0.1s;
}
.login .inputbox #btn:active{
    transform: scale(0.9);
}
.login .group{
    display: flex;
    justify-content: space-between;
}
.login .group a{
    font-size: 1.25em;
    color: rgba(33, 68, 2, 0.8);
    font-weight: 500;
    text-decoration: none;
}
.login .group a:nth-child(2){
    text-decoration: underline;
}
.piles{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}
.piles .set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.piles .set div{
    position: absolute;
    display: block;
}
.piles .set div:nth-child(1){
    left: 20%;
    animation: animate 20s linear infinite;
}
.piles .set div:nth-child(2){
    left: 50%;
    animation: animate 14s linear infinite;
}
.piles .set div:nth-child(3){
    left: 70%;
    animation: animate 12s linear infinite;
}
.piles .set div:nth-child(4){
    left: 5%;
    animation: animate 15s linear infinite;
}
.piles .set div:nth-child(5){
    left: 85%;
    animation: animate 18s linear infinite;
}
.piles .set div:nth-child(6){
    left:905%;
    animation: animate 12s linear infinite;
}
.piles .set div:nth-child(7){
    left: 15%;
    animation: animate 14s linear infinite;
}
.piles .set div:nth-child(8){
    left: 60%;
    animation: animate 15s linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(180deg);
    }
    80%{
        transform: translateX(-20px) rotate(45deg);
    }
    100%{
        top: 110%;
        transform: translateX(20px) rotate(225deg);
    }
}

